{% load static %}
<html>
	<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/addpost.css' %}">        
   	</head>

   	<body>
   		<form method="POST">
			<center>
			{% csrf_token %}
			{% for i in form %}
			{{i.label}} {{i}}<br><br>
			{% endfor %}

		<input type="submit" name="submit4" value="submit" id="button">
		</center>
	</form>
   	</body>


</html>

