{% load static %}
<html>
	<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/home.css' %}">        
   	</head>
   	<body>



   		<nav class="navbar nav navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style='font-size:50px;color:red;text-align:left'>Bliss Health Care</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li style='font-size:large'><a href="#">Home</a></li>
                    <li style='font-size:large'><a href="{% url 'loginuser' %}">Appointment</a></li>
                    <li style='font-size:large'><a href="#">About</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li style='font-size:large'><a href="{% url 'signup' %}"><i class="fa fa-user-plus"></i> Signup</a></li>
                    <li style='font-size:large'><a href="{% url 'loginuser' %}"><i class="fa fa-user"></i> Login</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
   		

    <section id="getstarted">
        <h2>About Us !!!...</h2>
        <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi culpa pariatur numquam
            deserunt
            quibusdam non quod nam laborum fuga consectetur quisquam facilis hic saepe reiciendis, impedit possimus
            animi
            molestias iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quos quae rem, numquam illo
            maxime eos dolorum minima placeat ab ratione perspiciatis est reprehenderit doloribus? Rerum omnis
            recusandae
            illo nemo!</p>
        <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi culpa pariatur numquam
            deserunt
            quibusdam non quod nam laborum fuga consectetur quisquam facilis hic saepe reiciendis, impedit possimus
            animi
            molestias iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quos quae rem, numquam illo
            maxime eos dolorum minima placeat ab ratione perspiciatis est reprehenderit doloribus? Rerum omnis
            recusandae
            illo nemo!</p>
        <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi culpa pariatur numquam
            deserunt
            quibusdam non quod nam laborum fuga consectetur quisquam facilis hic saepe reiciendis, impedit possimus
            animi
            molestias iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quos quae rem, numquam illo
            maxime eos dolorum minima placeat ab ratione perspiciatis est reprehenderit doloribus? Rerum omnis
            recusandae
            illo nemo!</p>
        <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit totam necessitatibus rerum
            cumque eos dignissimos dolorum, earum quis vero consequuntur error dolorem, repudiandae iure, maxime ipsa
            accusantium ratione nostrum? Itaque dolorem at eligendi eveniet earum, sed doloremque beatae magni fugiat
            pariatur reiciendis deleniti saepe? Quod non officia similique voluptatibus praesentium.</p>
        <hr>
        <h2>Medical Achievement</h2>
        <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi culpa pariatur numquam
            deserunt
            quibusdam non quod nam laborum fuga consectetur quisquam facilis hic saepe reiciendis, impedit possimus
            animi
            molestias iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quos quae rem, numquam illo
            maxime eos dolorum minima placeat ab ratione perspiciatis est reprehenderit doloribus? Rerum omnis
            recusandae
            illo nemo!</p>
        <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi culpa pariatur numquam
            deserunt
            quibusdam non quod nam laborum fuga consectetur quisquam facilis hic saepe reiciendis, impedit possimus
            animi
            molestias iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quos quae rem, numquam illo
            maxime eos dolorum minima placeat ab ratione perspiciatis est reprehenderit doloribus? Rerum omnis
            recusandae
            illo nemo!</p>
        <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque in quos asperiores delectus
            doloribus corrupti quibusdam voluptatem sit veniam molestias beatae, quidem, sequi temporibus repellendus
            tempore ea neque maiores similique! Atque fugit modi provident, reiciendis omnis officiis libero expedita
            vero quibusdam perferendis iure voluptatibus ipsam error excepturi quia unde! Exercitationem, nostrum
            facere! Tempore quos nesciunt facilis perferendis, aperiam natus numquam? Ratione eligendi rerum corrupti
            atque illum optio vero obcaecati, recusandae quas est sit quam explicabo?</p>
        <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum temporibus a hic suscipit qui
            in. Explicabo
            ipsam adipisci impedit recusandae necessitatibus unde sit, velit laboriosam dolores sint, repellat, officiis
            rem natus. Laboriosam assumenda autem ex aperiam distinctio totam veniam? Veritatis adipisci facere
            perspiciatis, eos ducimus dolorum totam ipsum! Vitae, enim.</p>
    </section>



	</body>

</html>


